:root {
  --clr-primary: rgb(50, 194, 50);
  --bg-color: rgb(126, 211, 240);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  background-color: black;
}

/* Utilities */
.text-primary {
  color: var(--clr-primary);
  text-decoration: underline;
}

/* Makes the main content to the middle of the page */
main {
  max-width: 855px;
  padding: 30px;
  margin: 0 auto;
  background-color: var(--bg-color);
}

.main-header {
  background-color: var(--bg-color);
  border: 5px solid var(--clr-primary);
  padding: 50px;
}

.main-header h1 {
  text-align: center;
  font-style: italic;
  font-weight: 400;
  margin-top: 35px;
}

.main-header nav {
  text-align: center;
  margin: 30px 0;
}

span.divider {
  display: inline-block;
  padding: 6px 0;
  margin: 0 5px 0;
  border: 1px solid gray;
}

nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Text Section */
.text-content h2 {
  margin-bottom: 1rem;
}

.text-content img {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
  float: right;
  margin: 0 0 1rem 1rem;
}

.text-content p:first-of-type {
  margin: 10px 0 40px;
}

/* Social Section */
.social {
  text-align: center;
  padding: 2rem;
}

/* Screens lower than 550px */
@media screen and (max-width: 550px) {
  body {
    font-size: 0.6rem;
  }

  main {
    padding: 10px;
  }

  .main-header {
    padding: 20px;
  }

  .main-header h1 {
    margin-top: 10px;
  }

  .main-header nav {
    margin: 10px 0;
    font-size: 0.7rem;
  }

  span.divider {
    padding: 3px 0;
  }

  .text-content {
    text-align: center;
  }

  .text-content h2 {
    display: none;
  }

  .text-content img {
    max-height: 120px;
    float: none;
    margin: 0;
  }

  .text-content p {
    text-align: initial;
  }

  .text-content p:first-of-type {
    margin: 5px 0 20px;
  }

  .social {
    padding: 1rem;
  }
}
