:root {
  --clr-primary: rgb(50, 194, 50);
  --bg-color: rgb(126, 211, 240);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  background-color: black;
}

main {
  width: 855px;
  margin: 0 auto;
  background-color: var(--bg-color);
}

.outer-header {
  background-color: var(--bg-color);
  padding: 30px;
}

.main-header {
  background-color: var(--bg-color);
  border: 5px solid var(--clr-primary);
  padding: 30px;
}
